<p id="notice"><%= notice %></p>

<p>
  <strong>Dateloan:</strong>
  <%= @loan.dateloan %>
</p>

<p>
  <strong>Datereturn:</strong>
  <%= @loan.datereturn %>
</p>

<p>
  <strong>Datetoreturn:</strong>
  <%= @loan.datetoreturn %>
</p>

<p>
  <strong>Loanstate:</strong>
  <%= @loan.loanstate %>
</p>

<p>
  <strong>User:</strong>
  <%= @loan.user_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @loan.book_id %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
