<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://img.icons8.com/bubbles/2x/library.png">
    <link href="https://img.icons8.com/bubbles/2x/library.png" rel="icon">
    <title>Biblioteca UPSLP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= render 'home/navbar' %>

  </head>

  <body>
  	
  		<%= render 'home/flash' %>
  		<%= yield %>
  	   






  <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag "jquery-3.3.1.min.js" %>

  <!-- popper js -->
  <%= javascript_include_tag "popper.min.js" %>

  <!-- bootstrap js -->
  <%= javascript_include_tag "bootstrap.min.js" %>

  <!-- scrollIt js -->
  <%= javascript_include_tag "scrollIt.min.js" %>

  <!-- countTo js -->
  <%= javascript_include_tag "jquery.countTo.js" %>

  <!-- filter js -->
  <%= javascript_include_tag "jquery.filterizr.min.js" %>

  <!-- waypoints js -->
  <%= javascript_include_tag "waypoints.min.js" %>

  <!-- owl carousel js -->
  <%= javascript_include_tag "owl.carousel.min.js" %>

  <!-- validator js -->
  <%= javascript_include_tag "validator.js" %>

  <!-- maps js -->
  <%= javascript_include_tag "gmaps.min.js" %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false"></script>
  <%= javascript_include_tag "map.js" %>

  <!-- coustom js -->
  <%= javascript_include_tag "main.js" %>

  <!-- lightbox js -->
  <%= javascript_include_tag "lightbox.js" %>
  </body>
</html>
